CopaFilmes.Backend/bin/Debug/netcoreapp3.1/appsettings.Development.json
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/appsettings.json
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/CopaFilmes.Backend.deps.json
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/CopaFilmes.Backend.dll
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/CopaFilmes.Backend.exe
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/CopaFilmes.Backend.pdb
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/CopaFilmes.Backend.runtimeconfig.dev.json
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/CopaFilmes.Backend.runtimeconfig.json
CopaFilmes.Backend/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
CopaFilmes.Backend/obj/CopaFilmes.Backend.csproj.nuget.dgspec.json
CopaFilmes.Backend/obj/CopaFilmes.Backend.csproj.nuget.g.props
CopaFilmes.Backend/obj/CopaFilmes.Backend.csproj.nuget.g.targets
CopaFilmes.Backend/obj/project.assets.json
CopaFilmes.Backend/obj/project.nuget.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.AssemblyInfo.cs
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.AssemblyInfoInputs.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.assets.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.csproj.CoreCompileInputs.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.csproj.FileListAbsolute.txt
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.csprojAssemblyReference.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.dll
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.exe
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.genruntimeconfig.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.MvcApplicationPartsAssemblyInfo.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.pdb
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/CopaFilmes.Backend.RazorTargetAssemblyInfo.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/staticwebassets/CopaFilmes.Backend.StaticWebAssets.Manifest.cache
CopaFilmes.Backend/obj/Debug/netcoreapp3.1/staticwebassets/CopaFilmes.Backend.StaticWebAssets.xml
.vscode/launch.json
.vscode/tasks.json
